

<div class="soldier-item <%if index == 0 %> soldier-item-first <%end%>">

	<%= link_to "", soldier_path(:id => soldier.id), :class => 'soldier-pic' %>

	<div class="soldier-detail">
		<div class="soldier-header"> <strong class="soldier-name"><%= soldier.name %> </strong> 	<%= link_to "(edit)", edit_soldier_path(:id => soldier.id), :class=>'edit-link' %>
		</div>

		<div class='soldier-description'>
		<%= soldier.description %>
		-------------------
		---------------------------------
		</div>
	</div>

</div>

