

<div class="soldier-item">

	<div class='image-container'>
		<div class='overlay'>
		</div>
		<%= image_tag soldier.photo.url(:small), :class => 'soldier-pic' %>
	</div>

	<div class="soldier-detail">
		<div class="soldier-header"> <strong class="soldier-name"><%= soldier.name %> </strong> 	<%= link_to "(edit)", edit_soldier_path(:id => soldier.id), :class=>'edit-link' %>
		</div>

		<div class='soldier-description'>
		<p><%= soldier.description %></p>
		-------------------
		---------------------------------
		</div>
	</div>

</div>

