<div id="soldier-list">

	<% @soldiers.each do |soldier| %>

		<%= render :partial => "soldier_item", :locals => {:soldier => soldier} %> 

	<% end %>

	<%= will_paginate @soldiers %>

		<div id="soldier-list-footer">
			<% if @current_user%>
				<p> Click <%= link_to "here", new_soldier_path %> to add a new soldier </p>
			<% else %>
				<p> If you want to contribute to this memorial, contact me at fredcornax-AT-hotmail.com </p>
			<% end %>
		</div>

</div>

<% @soldiers.each do |soldier| %>

<%= render :partial => "soldier_dialog", :locals => {:soldier => soldier} %>

<% end %>