<h2>Langley Remembers</h2>

<% @soldiers.each_with_index do |soldier, index| %>

	<%= render :partial => "soldier_item", :locals => {:soldier => soldier, :index=>index} %> 

<% end %>


<p> Click <%= link_to "here", new_soldier_path %> to add a new soldier </p>

<div class="footer"/>
