<div id="soldier-list">

	<% @soldiers.each do |soldier| %>

		<%= render :partial => "soldier_item", :locals => {:soldier => soldier} %> 

	<% end %>

	<%= will_paginate @soldiers %>

	<% if @current_user%>
		<div id="soldier-list-footer">
			<p> Click <%= link_to "here", new_soldier_path %> to add a new soldier </p>
		</div>
	<% end %>

</div>

<% @soldiers.each do |soldier| %>

<%= render :partial => "soldier_dialog", :locals => {:soldier => soldier} %>

<% end %>