<div id="soldier-list">

	<% @soldiers.each do |soldier| %>

		<%= render :partial => "soldier_item", :locals => {:soldier => soldier} %> 

	<% end %>

	<%= will_paginate @soldiers %>
	<div id="soldier-list-footer">
		<p> Click <%= link_to "here", new_soldier_path %> to add a new soldier </p>
	</div>

</div>