/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 html,body{
 	margin:0px;
 	height:100%;
 }

input, label, h2, h3{
	font-family:Segoe UI, sans-serif;
}


a{
	text-decoration:none;
	color:#555555;
	font-family:Georgia, serif;
}

a:hover{
	color:black;
}

p{
	font-family:Segoe UI, sans-serif;		
}

strong{
	font-family:Segoe UI, sans-serif;	
}

.header{
	width:100%;
	height:25%;
	background-image:url("poppies.jpg");
	background-size:cover;
}

.main-container{
	margin:8px;
	margin-left:20%;
	position:relative;
}

.header-title{
	color:white;
	margin-left: 20%;
	padding-top: 5%;
	font-family:Segoe UI, sans-serif;		
}

.footer{
	position:absolute;
	bottom:0px;
	height:10%;
	width:100%;
	background-color:#555555;
}

.overlay{
	position:absolute;
	width:100%;
	height:100%;
	opacity:0.0;
}

.overlay:hover{
	opacity:0.3;
	background-color:#000000;
}

form .form-field{
	position:relative;
	padding:5px 0px 5px 0px;
}

form .label{
	position:absolute;
	text-align:right;
	width:140px;
}

form input{
	position:relative;
	left:160px;
}

form .jqte{
	position:relative;
	left:160px;
	display:inline-block;
	margin-top:0px;
	margin-bottom:5px;
}

form .input-container{
	display:inline-block;
}



