// Place all the styles related to the Soldier controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.soldier-item{
	border: 1px #AAAAAA solid;
	background-color:#FAFAFA;
	width: 320px;
	height:105px;
	padding: 5px 5px 10px 10px;
	margin-top:10px;
	margin-bottom:10px;
	border-radius:3px;
}

.image-container{
	position:relative;
	display:inline-block;
	cursor:pointer;
}

.soldier-item-first{
	border-top: 1px #AAAAAA solid;
}

.soldier-detail{
	display:inline-block;
	position:relative;
	margin-left:10px;
	width:200px;
	height:100%;
	overflow:hidden;
}

.soldier-pic{
	background-color: #CCCCCC;
	width: 100px;
	height: 100px;
	display: block;
}

.soldier-pic:hover{
	opacity:0.5;
}

.soldier-header{
	position:absolute;
	top:5px;
}

.soldier-name{
	font-size:14pt;
}

.soldier-pic:hover{
	background-color:#555555;
}

.soldier-description{
	display:inline-block;
	position:absolute;
	top:25px;
	font-size:10pt;
}

.footer{
	width:320px;
	border-top:2px black solid; 
}
