<!DOCTYPE html>
<html>
<head>
  <title>Vet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class='header'> 
		<div class='header-title'>
			<div style="font-size:24pt;">Langley Remembers</div>
			<div style="font-size:14pt;"> Lest we forget </div>
		</div>
	</div>
	<div class='main-container'>
		<%= yield %>
	</div>
	<div class='footer'></div>

</body>
</html>
